LAN_CIDR=192.168.1.0/24
ROS_IP=192.168.1.2
PVE_BRIDGE=vmbr0
PVE_STORAGE=local-lvm
PVE_FILE_STORAGE=local

MIHOMO_VMID=104
MIHOMO_IP=192.168.1.10
MIHOMO_DISK_GB=5
MIHOMO_CORES=4
MIHOMO_MEMORY_MB=2048

AGH_CTID=105
AGH_IP=192.168.1.8
AGH_DISK_GB=3
AGH_CORES=4
AGH_MEMORY_MB=512

SUBSTORE_SUB_NAME=mmw
OLD_GATEWAY_IP=192.168.1.100
ROS_OPTION_SET_NAME=set_gw_100
DISABLE_LAN_IPV6_DEFAULT_ROUTE=yes
DOWNLOAD_PROFILE=china
APT_MIRROR=https://mirrors.ustc.edu.cn/debian
GITHUB_PROXY=https://ghfast.top/
GITHUB_PROXY_ALT=https://gh-proxy.com/
MIHOMO_VERSION=1.19.28
ZASHBOARD_VERSION=3.15.0
AGH_VERSION=0.107.78
